<% include header %>
<main>
  <br><br><br>
    <article>
      <div>
        <h2 class="intro"><u>My Introduction</u></h2>
      </div><br>

      <section id="profile-picture">
        <img src="css/profilepicture.jpg" class="rounded-circle" alt="Srujana Gattu" width="200" height="200">
        <h4>Srujana Gattu</h4>
      </section>
      <br>
      <section id="current-section">
        <h2 class="section-header"><u><i>Current details</i></u></h2>
        <p>I Joined in Applied Computer Science course for Fall-2018 batch at NWMSU.</p>
      </section><br>
      <section id="past-section">
        <h2 class="section-header"><u><i>Background details</i></u></h2>
        <p>I came from Hyderabad which is located in southern part of India. I did my under graduation in Information
          Technology from Sri Indu College of Engineering and Technology and passed out in year of 2015.I have three
          years of work experience in a software development field. I worked on the demanded cloud based IT Service
          Management (ITSM) tool called as Service now in <strong>GEMINI CONSULTING AND SERVICES INDIA PVT LTD.</strong>
          I developed many Service Now applications for client <strong>Weill Cornell Medicine </strong>(WCM) located in
          NY. Service Now applications were built on Information Technology Infrastructure Library (ITIL) service life
          cycle.</p>
      </section><br>
      <section id="future-section">
        <h2 class="section-header"><u><i>Future plans</i></u></h2>
        <p>I selected Applied Computer Science course in my masters at NWMSU to improve my skills over developing
          websites and webapps. I am very eager to develop more creative websites and also to enhance my skills over
          database management. I would like to see myself in future as a solution architect.</p>
      </section><br>
      <section id="myschedule">
        <h2 class="section-header">Schedule</h2>
        <ol class="section-list">
          <li>Object-Oriented Programming,TR,08:00 am-09:15 am </li>
          <li>Advanced Topics in Database Systems,MWF,11:00 am-11:50 am</li>
          <li>Developing Web Applications and Services,MW,12:00 pm-12:50 pm</li>
        </ol>
      </section>
    </article>
    <aside id="aside-id">
        <h3 class="aside-header">My Interests</h3>
        <p id="asidep">I am very interested to solve puzzles and to follow Business news.</p>
      <h3 class="aside-header">My Skills</h3>
      <p id="asidep">I am a hard worker and a great competent. My main strength is my patience. I am a good listener. I
        am very happy for being part of this class.</p>
      <p id="asidep1">My Linkedin Profile - <a href="https://www.linkedin.com/in/srujana-reddy-b2537376/">Linkedin</a></p>
      <p id="asidep1">My Github Profile - <a href="https://github.com/srujanagattu">Github</a></p>
      <p id="asidep1">My Bitbucket Profile - <a href="https://bitbucket.org/srujana_gattu/">Bitbucket</a></p>
    </aside><br><br>
    <span id = "motive-video">
      <video width="30%" height="30%" controls>
        <source src="css/TheBestMotivation.mp4" type="video/mp4">
      </video></span><br>
  </main><br>
<% include footer %>