* {  
  margin: 0px;
  padding: 0px;
}

html {
  display: block;
}
body {
  margin: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header, footer, aside{
  background-color: lightgrey;
}

main {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  background-color: #fff;
  color: #444;
  padding: 1em;
}

.box {
  background-color: #675d00;
  color: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: 0.5em;
  font-size: 1em;
  text-align: center;
}

ol, ul {
  padding-left: 1em;
  padding-bottom: 1em;
}

li {
   text-align: left;
   font-size: 1em;
}

a {
  text-decoration: none;
}
a.navbar-brand {
  color: #fff !important;
  margin-right: 0%;
}


a.nav-link {
  color: #fff !important;
}
.navbar-expand-lg .navbar-nav{
  padding: 0;
}
header {
  margin-top: 61px;
}


div#winnerDisplay {
  background-color: gray;
  width: 30%;
  margin: auto;
  color: white;
  font-size: 30px;
  text-align: center;
  border: 1px ridge black;;
  border-radius: 20px;
}
.playbutton {
  width: 90px;
  margin-left:45%;
}


